.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 70vh;
  background-color: #f4f4f9;
  padding: 2rem;
}

.home-content h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.home-content p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 1rem;
}
